
@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    display: flex;
    padding-bottom:2px;
    background-image: linear-gradient( #222222,white);
    background-position: right -100% bottom 0;
    background-size: 200% 5px;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
    cursor:pointer
  }
  
  
  .link:hover {
    background-position: 100% 100%; 
    background-size: 100% 2px;
  }

  .links a.router-link-active{
    font-weight: 700;
    border-bottom: 2px solid #02886B;
    color:#02886B
  }
  

  .lazy-loader {
    border-radius: 12px;
    height: 300px;
    width: 300px;
    background: linear-gradient(90deg, #929292 20%, #ffffff);
    background-size: 300%;
    animation: loader 1s linear 2s infinite alternate;
  }
  .lazy-container-info {
    border-radius: 12px;
    height: 20px;
    width: 250px;
    background: linear-gradient(90deg, black 20%, #ffffff);
    background-size: 300%;
    animation: loader 1s linear 2s infinite alternate;
  }
  @keyframes loader {
    0% {
      background-position: 300% 0%;
    }
    100% {
      background-position: 350% 0%;
    }
  }
